# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
*.egg-info/
.build/
.cache/

# Data & artifacts
/data/
entity_aware_fnd/data/raw/
entity_aware_fnd/data/processed/
entity_aware_fnd/data/cache/
outputs/
checkpoints/
logs/

# VSCode
.vscode/
